.rel-map {
  background-color: #ffffff;
  /*background-image: url("/static/images/graph-bg.png");*/
  overflow: hidden;
  cursor: default;
  user-select: none;
}
.rel-map-background-norepeat {
  background-repeat: no-repeat;
  background-position: right bottom;
}
.rel-nodediv-for-webkit {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.rel-map-canvas {
  position: relative;
  top: 0px;
  left: 0px;
  /*overflow:hidden;*/
  border: 0px;
  z-index: 3;
  /*background-color: #efefef;*/
  /*border-top: #efefef dashed 1px;*/
  /*border-left: #efefef dashed 1px;*/
  /*width:30px;*/
  /*height:30px;*/
}
svg {
  height: 100%;
  width: 100%;
}
.rel-linediv {
  /*user-select: none;*/
  position: absolute;
  z-index: 900;
  width: 100%;
  top: 0px;
  left: 0px;
  --stroke: url('#lineStyle');
  --markerEnd: url('#arrow-default');
  --markerStart: url('#start-arrow-default');
  --markerEndChecked: url('#arrow-checked');
  --markerStartChecked: url('#start-arrow-checked');
}
.rel-linediv svg {
  overflow: visible;
}
.rel-map img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}


/** Node **/
.rg-icon {
  width: 19px;
  height: 19px;
  vertical-align: 0px;
  fill: currentColor;
  overflow: hidden;
}
.el-icon-remove,
.el-icon-circle-plus {
  cursor: pointer;
}
.rel-node-peel {
  clear: both;
  padding: 8px;
  position: absolute;
  font-size: 14px;
  /*border:green solid 1px;*/
}
.rel-node {
  text-align: center;
}

.rel-node-shape-1 {
  /*border: #FD8B37 solid 1px;*/
  border-radius: 5px;
}
.rel-node-shape-1 .c-node-text {
  /*border: #FD8B37 solid 1px;*/
  padding-left: 5px;
  padding-right: 5px;
}
.c-node-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rel-node-shape-0 {
  /*padding:10px;*/
}
.rel-node-shape-1 .c-node-text {
  /*border: #FD8B37 solid 1px;*/
  padding-left: 5px;
  padding-right: 5px;
}
.rel-node-shape-0 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /*border: #FD8B37 solid 2px;*/
  /*text-align: left;*/
  /*padding:10px;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*word-break: break-all;*/
}
/*.rel-node-shape-0:hover{*/
/*  !*overflow: visible;*!*/
/*  !*text-overflow: inherit;*!*/
/*  box-shadow: 0px 0px 5px #FFC5A6;*/
/*}*/
/*.rel-node{*/
/*display: table;*/
/*}*/
/*.rel-node span{*/
/*display: table-cell;*/
/*vertical-align:middle;*/
/*}*/
.rel-node-type-button {
  border-radius: 25px;
  color: blue;
  cursor: pointer;
}
.rel-node-hover {
}
.rel-node-checked {
  box-shadow: 0px 0px 10px #fd8b37;
  /*border-color: #BA7909;*/
  /*background-color: #FD8B37;*/
  /*color: #ffffff;*/
  /* firefox bug fix - won't rotate at 90deg angles */
  /*-moz-transform: rotate(-89deg) translateX(-190px);*/
  animation-timing-function: linear;
  animation: ACTRGNodeInit 2s;
}
.rel-node-selected {
  box-shadow: 0px 0px 10px #fd8b37;
  /*border-color: #BA7909;*/
  /*background-color: #FD8B37;*/
  /*color: #ffffff;*/
  /* firefox bug fix - won't rotate at 90deg angles */
  /*-moz-transform: rotate(-89deg) translateX(-190px);*/
  animation-timing-function: linear;
  animation: ACTRGNodeInit 2s;
}
.rel-node-vtree-2 {
  transform-origin: 0 0; /* 设置旋转中心为左上角*/
  /*transform-origin:50% 50%;!* 设置放大中心为元素中心 *!*/
  transform: rotate(30deg) translateX(0px);
}
.rel-node-vtree {
  width: 130px;
  height: 45px;
  text-align: left;
}
/*.c-node-text{*/
/*font-size: 12px;*/
/*display: inline-block;*/
/*width:100px;*/
/*height:16px;*/
/*margin-top:40px;*/
/*margin-left:-25px;*/
/*position:absolute;*/
/*word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;*/
/*text-align:center;*/
/*}*/
.c-btn-open-close {
  position: absolute;
  height: 100%;
  width: 19px;
  /*border:red solid 1px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*border:#ff0000 solid 1px;*/
  user-select: none;
  pointer-events: none;
}
.c-btn-open-close span {
  width: 19px;
  height: 19px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 19px;
  line-height: 16px;
  background-size: 100% 100%;
  pointer-events: all;
}
.c-expanded {
  background-image: url(data:image/svg+xml;%20charset=utf8,%3Csvg%20t=%221606310217820%22%20viewBox=%220%200%201024%201024%22%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20p-id=%223373%22%20width=%2232%22%20height=%2232%22%3E%3Cpath%20d=%22M853.333333%20480H544V170.666667c0-17.066667-14.933333-32-32-32s-32%2014.933333-32%2032v309.333333H170.666667c-17.066667%200-32%2014.933333-32%2032s14.933333%2032%2032%2032h309.333333V853.333333c0%2017.066667%2014.933333%2032%2032%2032s32-14.933333%2032-32V544H853.333333c17.066667%200%2032-14.933333%2032-32s-14.933333-32-32-32z%22%20p-id=%223374%22%20fill=%22white%22%3E%3C/path%3E%3C/svg%3E);
}
.c-collapsed {
  background-image: url(data:image/svg+xml;%20charset=utf8,%3Csvg%20t=%221606310454619%22%20class=%22icon%22%20viewBox=%220%200%201024%201024%22%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20p-id=%223662%22%20width=%22128%22%20height=%22128%22%3E%3Cpath%20d=%22M853.333333%20554.666667H170.666667c-23.466667%200-42.666667-19.2-42.666667-42.666667s19.2-42.666667%2042.666667-42.666667h682.666666c23.466667%200%2042.666667%2019.2%2042.666667%2042.666667s-19.2%2042.666667-42.666667%2042.666667z%22%20p-id=%223663%22%20fill=%22white%22%3E%3C/path%3E%3C/svg%3E);
}
.c-expand-positon-left {
  margin-top: -8px;
  margin-left: -25px;
}
.c-expand-positon-right {
  height: 100%;
  width: 100%;
  justify-content: center;
}
.c-expand-positon-right span {
  margin-top: -18px;
  margin-right: -18px;
  margin-left: 100%;
}
.c-expand-positon-bottom {
  height: 100%;
  width: 100%;
  margin-top: 7px;
  margin-left: -8px;
  align-items: flex-end;
  justify-content: center;
}
.c-expand-positon-top {
  height: 18px;
  width: 100%;
  margin-top: -20px;
  margin-left: -6px;
  align-items: flex-end;
  justify-content: center;
}
@keyframes ACTRGNodeInit {
  from {
    box-shadow: 0px 0px 15px #fd8b37;
  }
  15% {
    box-shadow: 0px 0px 1px rgb(46, 78, 143);
  }
  30% {
    box-shadow: 0px 0px 15px #fd8b37;
  }
  45% {
    box-shadow: 0px 0px 1px rgb(46, 78, 143);
  }
  60% {
    box-shadow: 0px 0px 15px #fd8b37;
  }
  to {
    box-shadow: 0px 0px 1px rgb(46, 78, 143);
  }
}
.rel-diy-node {
  padding: 0px;
}
/***link**/
/*.RGLine-enter-active {*/
/*transition: all .3s ease;*/
/*}*/
/*.RGLine-leave-active {*/
/*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
/*}*/
.c-rg-line-text {
  fill: #888888;
  font-size: 12px;
}
.c-rg-line {
  z-index: 1000;
  fill-rule: nonzero;
  /*marker-end: url('#arrow');*/
  /* firefox bug fix - won't rotate at 90deg angles */
  /*-moz-transform: rotate(-89deg) translateX(-190px);*/
  /*animation-timing-function:linear;*/
  /*animation: ACTRGLineInit 1s;*/
}
.c-rg-line-tool {
  stroke-dasharray: 5, 5, 5;
}
.c-rg-line-flash {
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
  animation-timing-function: linear;
  animation: ACTRGLineChecked 10s;
}
@keyframes ACTRGLineInit {
  from {
    stroke-dashoffset: 10px;
    stroke-dasharray: 20, 20, 20;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 0, 0;
  }
}
@keyframes ACTRGLineChecked {
  from {
    stroke-dashoffset: 352px;
  }

  to {
    stroke-dashoffset: 0;
  }
}


/*RGLineSmart.tsx*/
/*.RGLine-enter-active {*/
/*transition: all .3s ease;*/
/*}*/
/*.RGLine-leave-active {*/
/*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
/*}*/
.c-rg-line-text {
  fill: #888888;
  font-size: 12px;
}
.c-rg-line {
  z-index: 1000;
  fill-rule: nonzero;
  /*marker-end: url('#arrow');*/
  /* firefox bug fix - won't rotate at 90deg angles */
  /*-moz-transform: rotate(-89deg) translateX(-190px);*/
  /*animation-timing-function:linear;*/
  /*animation: ACTRGLineInit 1s;*/
}
.c-rg-line-tool {
  stroke-dasharray: 5, 5, 5;
}
.c-rg-line-flash {
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
  animation-timing-function: linear;
  animation: ACTRGLineChecked 10s;
}
@keyframes ACTRGLineInit {
  from {
    stroke-dashoffset: 10px;
    stroke-dasharray: 20, 20, 20;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 0, 0;
  }
}
@keyframes ACTRGLineChecked {
  from {
    stroke-dashoffset: 352px;
  }

  to {
    stroke-dashoffset: 0;
  }
}
.c-rg-line-checked {
  /*stroke: var(--stroke);*/
  /*marker-end: var(--markerEndChecked) !important;*/
  stroke-width: 2px;
  stroke-dasharray: 5, 5, 5;
  stroke-dashoffset: 3px;
  stroke-linecap: butt;
  /*stroke: #FD8B37;*/
  stroke-linejoin: bevel;
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
  animation-timing-function: linear;
  animation: ACTRGLineChecked 10s;
}


/**RGLineTextByPath.tsx**/
/*.RGLine-enter-active {*/
/*transition: all .3s ease;*/
/*}*/
/*.RGLine-leave-active {*/
/*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
/*}*/
.c-rg-line-text {
  fill: #888888;
  font-size: 12px;
}
.c-rg-line {
  z-index: 1000;
  fill-rule: nonzero;
  /*marker-end: url('#arrow');*/
  /* firefox bug fix - won't rotate at 90deg angles */
  /*-moz-transform: rotate(-89deg) translateX(-190px);*/
  /*animation-timing-function:linear;*/
  /*animation: ACTRGLineInit 1s;*/
}
.c-rg-line-tool {
  stroke-dasharray: 5, 5, 5;
}
.c-rg-line-flash {
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
  animation-timing-function: linear;
  animation: ACTRGLineChecked 10s;
}
@keyframes ACTRGLineInit {
  from {
    stroke-dashoffset: 10px;
    stroke-dasharray: 20, 20, 20;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 0, 0;
  }
}
@keyframes ACTRGLineChecked {
  from {
    stroke-dashoffset: 352px;
  }

  to {
    stroke-dashoffset: 0;
  }
}


/***GraphDebugPanel.tsx**/
.c-setting-panel {
  --height: 300px;
  --width: 200px;
  width: 300px;
  height: 200px;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: rgb(58, 91, 178);
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #999999;
  border-radius: 5px;
  z-index: 1000;
  background-color: #ffffff;
  border: #999999 solid 1px;
  padding-top: 60px;
}
.c-setting-panel-button {
  height: 35px;
  width: 35px;
  font-size: 8px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  margin-left: 25px;
  margin-top: 20px;
  background-color: rgb(58, 91, 178);
  color: #ffffff;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0px 0px 8px #999999;
}
.c-setting-panel-button:hover {
  box-shadow: 0px 0px 20px #ffa20a;
  border: #ffffff solid 1px;
  color: #ffa20a;
  -moz-transform: rotate(-89deg) translateX(-190px);
  animation-timing-function: linear;
  animation: flashButton 2s infinite;
}
.c-fixedLayout {
  position: fixed;
  top: 125px;
}
@keyframes flashButton {
  from {
    box-shadow: 0px 0px 8px rgb(46, 78, 143);
  }
  30% {
    box-shadow: 0px 0px 20px #ffa20a;
  }
  to {
    box-shadow: 0px 0px 8px rgb(46, 78, 143);
  }
}
.c-debug-tools-row {
  text-align: left;
}


/***GraphMiniToolBar.tsx**/
.rg-icon {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  fill: currentColor;
  overflow: hidden;
}
.c-mini-toolbar{
  width:44px;
  position: absolute;
  margin-top:170px;
  margin-right:10px;
  z-index: 999;
  border: #bbbbbb solid 1px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #cccccc;
  box-sizing:border-box;
}
.c-fixedLayout{
  position: fixed;
  top:100px;
}
.c-mb-button{
  height:44px;
  width:42px;
  margin-top:0px;
  background-color: #ffffff;
  border-top: #efefef solid 1px;
  opacity: 1;
  text-align: center;
  padding-top:3px;
  cursor: pointer;
  color: #999999;
  font-size: 18px;
  float: left;
  box-sizing:border-box;
  line-height: 21px;
}
.c-mb-button .c-mb-text{
  display: inline-block;
  height:14px;
  width:42px;
  font-size: 12px;
  line-height: 12px;
  margin-top:24px;
  margin-left:-28px;
  position: absolute;
  color: #262626;
}
.c-mb-button-on{
  background-color: #2E74B5;
  border-top: #2E4E8F solid 1px;
  color: #ffffff;
}
.c-mb-button:hover{
  background-color: #2E4E8F;
  border-top: #2E4E8F solid 1px;
  color: #ffffff;
}
.c-mb-button:hover .c-mb-text,.c-mb-button-on .c-mb-text{
  color: #ffffff;
}
.c-mb-button .c-mb-child-panel{
  height:46px;position: absolute;margin-top: -26px;background-color: #ffffff;
  display: none;
  border: #bbbbbb solid 1px;
  box-shadow: 0px 0px 8px #cccccc;
  box-sizing:border-box;
}
.c-mb-button:hover .c-mb-child-panel{
  display: block;
}
.c-mb-button .c-mb-button{
  height:44px;
  width: 42px;
  margin:0px;
  border: none;
}
.c-mb-button-c .c-mb-text{
  color: #262626 !important;
}
.c-mb-button-c:hover .c-mb-text,.c-mb-button-on .c-mb-text{
  color: #ffffff !important;
}
.c-loading-icon{
  animation:turn 1s linear infinite;
}
@keyframes turn{
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}
